<p>
  login works!
</p>


<div class="login_div">
  <div class="login_div_body">
    <form>
      <form [formGroup]="angForm" novalidate>
          <div class="form-group">
              <label class="col-md-4">username</label>
              <input type="text" class="form-control" formControlName="username" #username>
            </div>
            
      
            <div class="form-group">
              <label class="col-md-4">password</label>
              <input type="password" class="form-control" formControlName="password" #password/>
            </div>
      
      
            <div class="form-group">
              <button  (click)="login(username.value, password.value)"
              class="btn btn-primary">
                Login
              </button>
            </div>
      </form>
    </form>
  </div>
</div>
